.lista__cabecalho {
    display: flex;
}

.cabecalho__itens {
    display: flex;
    margin: 0 0 0 1rem;
    align-items: center;
}

.cabecalho__link {
    color: black;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
}